.navbar_item {
    color: #f6efef;
    text-decoration: none;
    margin-left: 14px;
   
    transition: color 0.3s ease-in-out;
  align-items: center;
    
    
  }
  .navbarItems {
    display: flex; /* Hace que los elementos se ubiquen horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: nowrap;
   
    
  }

  .navbar_item:hover {
    color:#cf7b4e;
  }
  .navbarContainer {
    background-color: #040404;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 1000;
    display: flex;
    align-items: center;
    }
  
  .navbar {
    width:100%; /*fit-content; /* Establece la anchura de la barra de navegación para que coincida con el contenido */
    /*margin: 0 auto; /* Centra horizontalmente la barra de navegación */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
